<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="../css/style.css" />
    <title>New Page</title>

    <style>
      .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
      }
      a {
        color: antiquewhite;
        font-size: 1.5rem;
        padding: 1rem;
        font-weight: 800;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/index.html">Home</a>
      <a href="/views/add-user.html">Add users</a>
    </header>
    <div class="container">
      <h1>New Page</h1>
      <p>
        You have been redirected to new page since old page is not available
      </p>
      <img src="../assets/images/express.png" alt="express image" />
    </div>
  </body>
</html>
